
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
*{
    margin: 0;
    padding: 0;
}

.main_bg{
    background-image: url('/static/blackbackground.jpg');
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.form{
    width: 650px;
}


.form-text{
    text-align: center;
    margin: 0 0 40px 0;
}
.form-text h1 span img{
    margin: 0 10px;

}
.form-text h1{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 40px;
    margin-bottom: 20px;
}
.form-text p{
    color: #fff;
    font-family: 'Akaya Telivigala', cursive;
    font-size: large;
}
table {
  background-color: #f2f2f2; /* set the background color to light gray */
}
table tr {
  background-color: #f2f2f2; /* set the background color for all rows to light gray */
}
table td {
  background-color: #f2f2f2; /* set the background color for all cells to light gray */
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
}
      
.block {
  display: inline-block;
  vertical-align: top;
  width: 25%;
  padding-right: 20px;
}
      
.block h3 {
 margin-top: 0;
 font-size: 16px;
}
      

.main-form div{
    margin: 10px 10px;
    width: 300px;
    display: inline-block;
}
.main-form div input {
    width: 100%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: #eceef5;
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}
.main-form div select{
    width: 104%;
    font-family: 'Akaya Telivigala', cursive;
    background: none;
    border: 1px solid #ffca00;;
    font-size: 20px;
    color: white;
    
    outline: none;
    padding: 3px 0 3px 10px;
    margin-top: 10px;
}

option {
  color: blue;
  background-color: white;
}

option:checked {
  color: white;
  
}

.submit-button {
    background-color: #fa7406; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    padding: 12px 24px; /* Add padding */
    text-align: center; /* Center text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Display as a block element */
    font-size: 16px; /* Set font size */
    cursor: pointer; /* Change cursor on hover */
    border-radius: 5px; /* Add border radius */
    transition-duration: 0.3s; /* Add transition */
  }
  
  .submit-button:hover {
    background-color: #f0ad57; /* Set background color on hover */
  }
  
  
  table {
    background-color: #2f11d4;
  }
  .table-class {
    background-color: #4019ca;
  }
   
  


@media screen and (max-width:710px) {
    .main-form{
        text-align: center;
    }
}

